/* FONTS */
@font-face {
  font-family: Myriad_Pro_Condensed;
  src: url('../fonts/MyriadPro-Cond.otf');
}

@font-face {
  font-family: League_Gothic;
  src: url('../fonts/League-Gothic.otf');
}

@font-face {
  font-family: Proxima_Nova_Light;
  src: url('../fonts/ProximaNova-Light.otf');
}

/* COLORS */
$green: #00988B;
$pink: #FF4B5C;