h2 {
  font-weight: 100;
  font-size: 40pt;
  font-family: "League Gothic", Helvetica, sans-serif;
  text-transform: uppercase; }

.hidden {
  display: none; }

#intro {
  background: url(images/conf_bg.png) 50% -25px no-repeat fixed;
  background-color: #000; }

::selection {
  background: #FF4B5C;
  color: #FFF; }
