@font-face {
  font-family: Myriad_Pro_Condensed;
  src: url('../fonts/MyriadPro-Cond.otf');
}

@font-face {
  font-family: League_Gothic;
  src: url('../fonts/League-Gothic.otf');
}

@font-face {
  font-family: Proxima_Nova_Light;
  src: url('../fonts/ProximaNova-Light.otf');
}


#header{
    border-top: 5px solid #3ce0ba;
	background-image: url('../images/desk.png');
	background-color: #000;
	background-size: 100%;
	color: #FFF;
   h2 {
     color: #3ce0ba;
     margin-bottom: 0;
   }
   margin-bottom: 0;
}



.test{
	background: url('../images/conf_bg.png') #000 30% 0 no-repeat fixed;
	color: white;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#cooking {
	background: url('../images/nutmeg.jpg') #000 30% 0 no-repeat fixed;	
}
	
.bleh {
	height: 300px;
}

section {
  border-top: 10px solid #3ce0ba;
  margin-bottom: 20px;
}

	


h1 {
  font-size: 300%;
  font-family: Myriad_Pro_Condensed, Helvetica, sans-serif;
  text-transform: uppercase;	
}

h2 {
  font-size: 430%;
  font-family: League_Gothic, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 {
  font-family: Proxima_Nova_Light;	
}

body {
  font-family: Proxima_Nova_Light;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

.hidden {
  display: none;
}

#intro{
	  background:url(images/conf_bg.png) 50% -25px no-repeat fixed;
	  background-color: #000;
}

::selection {
  background: #FF4B5C;
  color: #FFF;
}

#contact-info {
  margin-top: 500px; text-align: right;
  
  li {
	    margin-right: 15px;
  }

}

#contact-info a {
  text-decoration: none;
  border-bottom: none;
  font-size: 200%;
  color: #FFF;
  
  &:hover {
	 color: #FF4B5C;
  }
}

a {
  color: #FF4B5C;
  
  &:hover {
	border-bottom: 1px dashed #FF4B5C;
	color: #FF4B5C;
	text-decoration: none;
  }
}

.sub-sec {
  border-top: 3px solid #3ce0ba;
  border-bottom: none;
  margin-top: 25px;
  padding: 8px;
  
  h3 {
	margin-top: 10px;
	color: #3ce0ba;
  }
}


.lead:first-child {
  margin-top: 30px;
}